/* Переменные */
:root {
  --main-fond: Roboto, sans-serif;
  --secondari-font: Raleway, sans-serif;
  --accent-color: #2196f3;
  --background-color: #e5e5e5;
  --text-color: #757575;
  --title-color: #212121;
  --white-color: #ffffff;
  --black-color: #000000;
  --adress-color: rgba(255, 255, 255, 0.6);
}
/* Конец Переменные */
/* Базовый сброс */
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.address {
  font-style: normal;
}
/* Конец базовый сброс */

body {
  font-family: var(--main-fond);
  background-color: var(--background-color);
}
/* index.html */
/* header */
/* Логотип */
.logo {
  font-family: var(--secondari-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}
.logo-studio-header {
  color: var(--black-color);
}
.logo-studio-footer {
  color: var(--white-color);
}

/* Навигация */
.navigation-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-color);
}

.navigation-list .link.current {
  color: var(--accent-color);
}

/* Телефон и mail */
.kontakt-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.navigation-link:hover,
.navigation-link:focus,
.kontakt-link:hover,
.kontakt-link:focus {
  color: var(--accent-color);
}
/* Конец header */

/* main index.html*/
.title-hero {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}

.title-feature {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
}

.text-feature {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.title-employment,
.title-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
.title-workman {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.text-workman {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
/*Конец main index.html*/

/* footer */
.address-footer-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--adress-color);
}

.address-00-footer-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-color);
}
/* Конец footer */

/* main portfolio.html*/
.title-project {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}

.text-project-direction {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
